<div>
    <%= form_for @articles do |f| %>
      <h3>
        投稿する
      </h3>
      <%= f.text_field :text, placeholder: "今の気持ちを入力してください" %>

      <%= f.submit "SENT", class: "btn btn-primary withripple" %>
      <% end %>
</div>
