<div class="contents row" >
<div class="bs-component">
  <h2><i class="fa fa-pencil" ></i><%= @nickname %>さんの投稿一覧</h2>
  <% @articles.each do |article| %>
   <div class="jumbotron">
      <%= simple_format(article.text) %>
  </div>
  <% end %>
<%= paginate(@articles) %>
