
<div class ="container">
<div class ="col-lg-12">
<div class ="about">
<img src="assets/girl2.jpg" width="1200" height="800" alt="" class="img-responsive">

<h2>あふれる思いを吐き出して、共感し合おう</h2>


<p>
「すきつら」は、好きすぎて辛い気持ちを、こっそりと吐き出すことができる場所です。<br>
<br>
誰かを好きすぎて辛くなった時、どこかに想いを吐き出したくなること、ありませんか？<br>
<br>
でも、直接本人に伝えたら引かれる可能性が高いです。<br>
こんな自分重すぎて、自己嫌悪…。<br>
<br>
さらに、そもそも気軽に伝えられる相手ではないこともあります。<br>
超有名人だったり、<br>
もう死んでしまった人だったり、<br>
2次元の世界の人だったり、<br>
コミュニケーションはとれるけど出待ちをし過ぎでもはやストーカーと思われてしまっている相手だったり…。<br>
<br>
だからと言って、TwitterやFacebookで語ろうにも、<br>
痛いと思われるかもしれないし、<br>
こいつ危ないと怖がられるかもしれないし、<br>
優しい友達はやたら心配しちゃうかもしれないし、<br>
巡り巡って本人に伝わっちゃうかもしれないし…<br>
安心して気持ちを吐き出せる場は、なかなかありません。<br>
<br>
「すきつら」では、そんな吐き出す場所のない「好きすぎて辛い」気持ちを
思う存分吐き出してください。
<br>
「好きすぎて辛い」気持ちを胸のうちに込めていると、<br>
どんどん辛くなっていくばかりです。<br>
<br>
吐き出していくうちに、気持ちが紛れて整理されていくはずです。<br>
それに、誰かが共感してくれるかもしれません。<br>
</p>

<h2><i class="fa fa-smile-o"></i>「すきつら」では、こんなことができます <i class="fa fa-smile-o"></i></h2>

<ul>
<li>好きすぎて辛いという気持ちを投稿できます。</li>
<li>他の人の「すきつら」を見て、共感しまくることができます。（ある程度の回数まで「共感する」ボタンを連打することができます）</li>
<li>他の人の「すきつら」にコメントを残すことができます。</li>
<li>Twitterで「好きすぎて辛い」とつぶやいている人のつぶやきを取得してきています。</li>
</ul>

 </div>
 </div>
 </div>